@media (min-width:426px) and (max-width:768px) {
         /* What */
         #about {
            width: 100vw;
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            padding-bottom: 0.5rem;
            margin-top: -0.9rem;
        }
    
            #about .boxes {
                display: flex;
                text-align: center;
                flex-direction: column;
            }
        
            #about .boxes i {
                background-color: #59b2e0;
                padding: 3.5rem;
                border-radius: 50%;
                margin-bottom: 2rem;
            }
        
            #about .boxes h3 {
        font-size: 2rem;
        margin-bottom: 2rem;
            }

            /* Contact */
#contact {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

#contact .contact-form {
height: 100vh;
width: 100vw;
margin-bottom: 2rem;
padding-top: 3rem;
padding-bottom: 4rem;
}

#contact .contact-form label,
#contact .contact-form input,
#contact .contact-form textarea {
display: block;
}

#contact.map {
    height: 70vh;
    width: 100vw;
    background-color: #fff;
}

#contact .contact-form input,
#contact .contact-form textarea {
width: 100%;
padding: 0.5rem;
border-radius: 0.5rem;
margin-bottom: 1rem;
border: none;
}

#contact .contact-form label {
    margin-bottom: 0.2rem;
}

#contact .map iframe {
height: 70vh;
width: 100vw;
}

/* Footer */
#footer {
    background-color: #333;
    width: 100vw;
    color: #fff;
    text-align: center;
    margin-top: 23rem;
    font-size: 1.6rem;
    position: sticky;
}


}